<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>"NAME OF WEB APP"</h1>
        <p>Search for establishments: <input type="text" placeholder="Search..."></p>
        <p>Don't see your establishment here? <a href="profileCreation.html">Add yourself</a></p>
        <p><a href="profile.html">Click here to view profile page</a></p>
  </body>
</html>
