<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="container">
        <div id="establishmentInfo">
            <p>Establishment name: </p>
            <p>Establishment type: </p>
            <p>wheelChair ramps?: </p>
            <p>other features soon...</p>
        </div>
    </div>
</body>
</html>